.characteristicsCard {
    margin-top: 2em;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.characteristicsTitle {
    margin-bottom: 16px;
    display: block;
}

.characteristicsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 48px;
}

.characteristicsRow {
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
    border-bottom: 4px solid var(--color-bg-system);
}

.characteristicsLabel {
    font-size: 13px;
    color: #777;
}

.characteristicsValue {
    font-weight: 500;
}
