.monitoring {
    display: flex;
    padding: 3em;
    width: calc(100% - 2 * var(--left-offset));
    row-gap: 1em;
    flex-direction: column;
}

.cardsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 20%));
    gap: 4em;
}

.container{
    width: 100%;
}

.content{
    margin: 0 auto;
    width: 80%;
}

.tableSkeleton{
    margin: 4px auto;
    width: 90%;
    height: 90%;
}

.skeleton{
    margin-top: -1em;
    border-radius: 10px;
    margin-bottom: 3em;
}

@media (max-width: 1200px) {
    .content {
        width: 100%!important;
    }
}