.authForm {
    width: 20%;
    min-width: 400px;
    margin: 30vh auto auto auto;
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
}

.formHeader{
    margin-bottom: 1.5em;
}