.breadcrumbs{
    width: calc(100% - var(--left-offset));;
    padding-top: 2em;
    padding-left: var(--left-offset);
    background-color: var(--color-bg-secondary);
}

.skeleton{
    border-radius: 5px;
}