.historyCard {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    max-width: 400px;
}

.historyTitle {
    margin-bottom: 16px;
    display: block;
}

.historyContent {
    display: grid;
    grid-template-columns: 120px auto;
    row-gap: 8px;
    column-gap: 16px;
    font-size: 14px;
}
