.motors {
    min-width: 70%;
    cursor: pointer;
    margin: auto;
    margin-top: 2em;
    background-color: #f5f5f5;
}

.filledBadge{
    width: 120px;
}

.strokedBadge {
    width: 150px;
}

.motors * {
    justify-content: center;
}