.componentCard {
    padding: 16px;
    width: 23%;
    border-radius: 16px;
    border: 1px solid var(--color-control-bg-border-default);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background: #fff;
}

.componentCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.componentCardValue {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 8px;
}

.componentCardChange {
    margin-top: 4px;
}

.componentCardChart {
    height: 64px;
    margin-top: 8px;
}
