.card{
    border: 1px solid rgb(0 32 51 / 13%);
    border-radius: 1em;
    min-width: 350px;
    width: 100%;
    min-height: 250px;
    padding: 1.5em;
}

.card:hover{
    cursor: pointer;
    background-color: rgb(13 28 37 / 7%);
}

.divider{
    width: 100%;
    background-color: #00000030;
    height: 1px;
    margin-top: 1em;
}

.responsibleContainer{
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 8px;
}

.cardTitle{
    margin-top: 8px;
}

.tagsContainer {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.stateBadgeContainer{
    display: flex;
    justify-content: flex-start;
}

.badgeContainer {
}